[submodule "pack/default/start/gruvbox"]
	path = pack/default/start/gruvbox
	url = ../../morhetz/gruvbox.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = ../../tpope/vim-surround.git
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = ../../tpope/vim-repeat.git
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = ../../jiangmiao/auto-pairs.git
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = ../../ctrlpvim/ctrlp.vim.git
