[submodule "pack/default/start/gruvbox"]
	path = pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "pack/plugins/start/vim-magnum"]
	path = pack/plugins/start/vim-magnum
	url = git@github.com:glts/vim-magnum.git
[submodule "pack/plugins/start/vim-radical"]
	path = pack/plugins/start/vim-radical
	url = git@github.com:glts/vim-radical.git
